.section-event
	.content

		a
			text-decoration: none

			&:link, &:visited
				color: $darkred

			&:hover, &:active
				color: #fff

		table.activity-events
			margin: 75px 5%
			width: 90%

			th
				+font-size(30)

				color: #fff
				text-align: left
				padding: 0 0 50px
				width: 50%

			td
				+font-size(25)

				color: #fff
				padding-bottom: 20px
				text-align: left

				a
					color: #fff
					text-decoration: underline

		div.top
			@extend .clearfix

			max-width: 950px
			margin: 0 auto
			padding: 0 2% 0
			width: 96%

		.section
			color: #fff
			margin-bottom: 25px

			h2
				+font-size(30)

				margin-bottom: 20px
				text-align: center

			&.activities
				background: #000
				background: rgba(0,0,0,0.1)
				float: left
				min-height: 120px
				padding: 20px
				width: 300px

				li
					+font-size(20)

					list-style: initial
					margin: 0 0 10px 20px

					a
						color: #fff
						text-decoration: underline

			&.event-info
				float: right
				width: 500px

			table
				+font-size(20)

				background: #000
				background: rgba(0,0,0,0.1)
				width: 100%

				tr
					line-height: 40px

					&:nth-child(odd)
						background: #000
						background: rgba(0,0,0,0.1)
						

				.title
					width: 50%
					padding: 0 15px

			&.event-other-info, &.description, &.single
				padding: 25px 2%


		@media screen and (max-width: 890px)
			.section

				&.event-info
					float: none
					width: 100%

				