.section-home
  h1.home-title
    +font-size(25)

    background: #A3A3A3
    color: #ffffff
    font-weight: normal
    padding: 5px 0
    text-align: center

  section h1, aside h1
    +font-size(20)

    color: $lightgrey
    text-transform: uppercase

    &:before
      background: $darkred
      border-radius: 10px
      content: ""
      display: inline-block
      height: 20px
      margin-right: 45px
      width: 20px

  section.about-us
    
    ul
      border-top: 2px solid #A3A3A3
      border-bottom: 2px solid #A3A3A3
      display: inline-block
      list-style: none

    img
      display: inline-block
