.section-location
	.content

		.slider
			position: relative

		.caption
			@extend .common-caption

			bottom: 4px

		.all.map
			clear: both
			margin-bottom: 40px

		.all.list
			margin: 0 20px

			h2
				margin-bottom: 15px

			li 
				display: inline-block
				margin: 5px 2%
				width: 21%

				a
					+font-size(25)

					color: #fff
					text-decoration: none

					&:hover
						text-decoration: underline
						color: $darkred

		div#content-infowindow
			width: 180px
			height: 120px

			p, strong
				+font-size(15)
				
				margin: 0

				a
					+font-size(15)

					color: #333
					font-weight: bold
					text-decoration: none

					&:hover
						text-decoration: underline

			a.itinary
				+font-size(14)

				color: blue
				display: block
				margin-top: 5px
				text-decoration: none

				&:hover
					text-decoration: underline

		div.left.star
			width: auto

		h2
			@extend .red-dot-title

		.description
			+font-size(20)
			
			color: #fff
			margin: 0 20px

		.right-half
			width: 30%
			float: right

			.section
				margin: 10px 0

			.weather
				@extend .clearfix

				text-align: center
				border-left: 10px solid $darkred
				background: rgba(0,0,0,0.3)

				a
					+font-size(25)

					color: $lightgrey
					display: block
					padding: 15px
			
			.events
				width: 100%
				height: 150px
				background: url(/assets/bg_events.png) no-repeat
				position: relative

				a
					+font-size(25)

					color: #fff
					background: #000
					background: rgba(0, 0, 0, 0.8)
					width: 100%
					position: absolute
					bottom: 0
					text-decoration: none
					text-align: center
					padding: 20px 0
		
		.left-half
			width: 65%
			float: left

			.section, address
				@extend .clearfix
				
				margin: 0 0 20px 20px

				&.useful-informations
					a 
						+font-size(24)

						text-decoration: none
						clear: both
						display: block
						width: 100%
						text-align: center

						&:link, &:visited
							color: $darkred
						&:hover, &:active
							#fff

					ul
						@extend .clearfix

						width: 80%
						margin: auto
						list-style: none

						li
							width: 50%
							margin: 8px 0
							line-height: 30px

							div
								width: 30px
								height: 30px
								margin: 0 5px 
								overflow: hidden
								float: left

							img
								border-radius: 5px
								vertical-align: text-top

			address
				+font-size(20)

				color: #fff

				a
					+font-size(22)

					text-decoration: none
	
					&:link, &:visited
						color: $darkred
					&:hover, &:active
						color: $darkred

			.infos, ul
				+font-size(20)

				color: #fff

				li
					width: 33%
					float: left

					a
						text-decoration: none

						&:link, &:visited
							color: #fff
						&:hover, &:active
							color: $darkred
					
			.infos
				float: left
				margin-left: 20px
				width: 315px

