<% title 'Top 10 des lieux' %>
<h1>Top 10 des lieux</h1>

<section class="top-info">
	<p>Lorem Ipsum</p>
</section>

<section class="top-thumbs">
	<a href="" class="thumb first">
		<img src="assets/tmp-to-remove.jpg" alt="">
		<div class="caption">
			Lorem ipsume vraiment très long
		</div>
	</a>
	<a href="" class="thumb">
		<img src="assets/tmp-to-remove.jpg" alt="">
		<div class="caption">
			Lorem ipsume vraiment très long
		</div>
	</a>
	<a href="" class="thumb">
		<img src="assets/tmp-to-remove.jpg" alt="">
		<div class="caption">
			Lorem ipsume vraiment très long
		</div>
	</a>
	<a href="" class="thumb">
		<img src="assets/tmp-to-remove.jpg" alt="">
		<div class="caption">
			Lorem ipsume vraiment très long
		</div>
	</a>
	<a href="" class="thumb">
		<img src="assets/tmp-to-remove.jpg" alt="">
		<div class="caption">
			Lorem ipsume vraiment très long
		</div>
	</a>
	<a href="" class="thumb">
		<img src="assets/tmp-to-remove.jpg" alt="">
		<div class="caption">
			Lorem ipsume vraiment très long
		</div>
	</a>
	<a href="" class="thumb">
		<img src="assets/tmp-to-remove.jpg" alt="">
		<div class="caption">
			Lorem ipsume vraiment très long
		</div>
	</a>
	<a href="" class="thumb">
		<img src="assets/tmp-to-remove.jpg" alt="">
		<div class="caption">
			Lorem ipsume vraiment très long
		</div>
	</a>
	<a href="" class="thumb">
		<img src="assets/tmp-to-remove.jpg" alt="">
		<div class="caption">
			Lorem ipsume vraiment très long
		</div>
	</a>
	<a href="" class="thumb">
		<img src="assets/tmp-to-remove.jpg" alt="">
		<div class="caption">
			Lorem ipsume vraiment très long
		</div>
	</a>
</section>

<section class="top-desc">

</section>