<section class="section about-us">
	<ul class="first">
		<li><%= @home.who_one_text.html_safe if @home.who_one_text %></li>
	</ul>
	<div class="vimeo">
		<% if @video.code != 'false' %>
			<%= @video.code %>
		<% end %>
	</div>
	<ul>
		<li><div class="fb-activity" data-site="http://aventurapleinair.com/" data-action="likes, recommends" data-width="200" data-colorscheme="light" data-header="true"></div></li>
	</ul>
</section>

<aside class="aside">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Plein air -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:300px;height:250px"
	     data-ad-client="ca-pub-8461876942860834"
	     data-ad-slot="9507387509"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</aside>
<aside class="aside bottom-pub">
	<%= image_tag @home.pub2.image.url(:bottom_pub) if @home.pub2 %>
</aside>