<% title t(:"include.activities") + " - " %>
<section class="all list section">
	<% if false %>
		<div class="desc">
			<p><%= @text_top.text_top.html_safe if @text_top.text_top %></p>
		</div>
	<% end %>
	<ul>
	<% @menu_activity_category.each do |activity_category| %>
			<% if activity_category.activity.where('online = true').any? %>
				<li>
					<% if activity_category.image? %>
					<%= link_to image_tag(activity_category.image.url(:thumb_admin)) + '<span>'.html_safe + activity_category.name + '</span>'.html_safe, activity_category_url(if activity_category.slug? then activity_category.slug else activity_category.id end) %></li>
					<% else %>
					<%= link_to '<span>'.html_safe + activity_category.name + '</span>'.html_safe, activity_category_url(if activity_category.slug? then activity_category.slug else activity_category.id end) %></li>
					<% end %>
			<% end %>
	<% end %>
	</ul>
</section>