<% title 'Activités' %>
<ul>
	<% @categories.each do |category| %>
		<li><%= link_to category.name, activity_category_url(category.id) %>
			<ul>
				<% category.activity.each do |activity| %>
					<li><%= link_to activity.name, activity_url(activity.id) %></li>
				<% end %>
			</ul>
		</li>	
	<% end %>
</ul>