<% title 'Xavier Dachez - Photographe - ' %>
<h1 class="stand-alone">Xavier Dachez - Photographe</h1>
<p class="xavier">
Photographe professionnel depuis 1985 , Xavier Dachez est avant tout un amoureux fou de l’image.<br />
Il possède cet œil unique qui «voit» des cadrages dont le commun des mortels n’a pas conscience. Et quand on le regarde aller, on se dit : «Mais c’est bien sûr!» Il trouve toujours l’angle idéal, la lumière de prédilection et a la capacité comme nul autre photographe de mettre les gens à l’aise pour les croquer au naturel. C’est pourquoi une fois que l’on a travaillé avec lui, il devient indispensable.<br />
C’est un artiste mais aussi un grand technicien. Il allie la plus récente technologie numérique à une grande sensibilité, créant des clichés touchants, d’une rare authenticité.<br />
Son côté artiste coule dans ses veines car tout petit, il accompagnait déjà son père photographe sur des prises de vue pour de grandes marques françaises. Et c’est son arrière arrière grand-mère qui est à l’origine des premières cartes postales de Paris.<br />
Xavier Dachez a le don de tirer le meilleur de chacun. C’est aussi un travailleur acharné qui ira jusqu’au bout pour satisfaire son client.<br />
Il est basé à Québec et, avide de découvertes, il aime aussi partir faire des reportages à l’étranger, là où sa passion le mène. D’une grande humanité, il aime aller à la rencontre des autres et cette générosité transparaît dans ses images.<br /><br />
Un grand merci à Xavier qui apporte énormément à notre site internet.<br /><br />

<a href="http://xavierdachez.photodeck.com" target="_blank">Site web : http://xavierdachez.photodeck.com</a>
<span class="right">Aventura Plein Air.</span>
</p>
<%= image_tag('xavier.png', :alt => 'Xavier Dachez', :class => 'xavier')  %>
<%= image_tag('cannot.png', :alt => 'Cannôt à glace', :class => 'cannot')  %>
<%= image_tag('velo.png', :alt => 'Vélo', :class => 'velo')  %>
<%= image_tag('bottom.png', :alt => '', :class => 'bottom')  %>