.footer
  background: #333333
  color: $lightgrey
  display: inline-block
  padding: 50px 0 70px
  width: 100%

  a.politic
    clear: both
    text-align: center
    display: block
    color: #fff

  div.footer-wrapper
    margin: 0 auto
    width: 960px
    

  div.footer-left
    @extend .clearfix

    float: left
    width: 520px

    input[type="email"]
      font-family: $pompiere
      width: 200px

    
    .footer-nav
      float: left
      width: 520px

      & > ul
        float: left
        list-style: none
        padding-left: 20px
        width: 25%

        ul
          padding-left: 0
        
        li
          +font-size(20)

          text-transform: uppercase

          ul 
            margin-top: 0

            li
              +font-size(18)

              text-transform: none

        a
          color: $lightgrey
          text-decoration: none

          &:hover
            color: $darkred

      h1
        @extend .visuallyhidden
  div

    &.social-medias
      float: left
      text-align: left

      ul
        padding: 0 40px 0 0

      h2
        margin-top: 0
        text-transform: uppercase
      
      li
        list-style: none

      a
        +font-size(18)

        color: $lightgrey
        text-decoration: none

        &:hover
          color: $darkred

    &.newsletter
      float: left
      margin: 1em 0 0

      h2
        margin-top: 0
        text-transform: uppercase
        text-align: center

      p
        width: 145px
        font-size: 18px
        margin: 0 auto 10px        
