.header
  @extend .clearfix
  
  margin: 0 auto
  padding: 0
  position: relative

  .options-nav ul
    float: right
    z-index: 9

    & > li 
      display: inline-block
      margin-left: 2px     

  ul.social-nav
    margin: 0
    padding: 0
    position: absolute
    margin-top: -110px
    top: 50%
    right: 5px
    z-index: 99

    a
      display: block
      margin-top: 10px

  .ok-form
    position: absolute
    bottom: 60px
    z-index: 99
    right: 10px

  .ok-form
    float: right
    margin: 5px 1%

    input
      +font-size(18)
      +font($pompiere)

      float: left
      border: none
      padding: 2px 2px
      width: 200px

    .submit
      +font-size(18)

      background: #fff
      border: none
      border-left: 1px solid #a51722
      color: #a51722
      float: left
      padding: 2px 2px
      width: 40px

  .slides
    height: 550px
    width: 100%

  h1 span
    @extend .visuallyhidden

  a
    color: #fff
    text-decoration: none

    &.logo
      position: absolute
      top: 0
      left: 5px
      z-index: 99

    &:hover
      text-decoration: none

    img.logo
      margin: 45px 0 0 1%

  .options-nav ul
    margin: 9px 15px

    li a
      border-radius: 10px
      display: block
      padding: 5px 20px
      background: $darkred

  .main-nav 
    h1
      @extend .visuallyhidden
    
    ul
      position: relative

      li:hover a, li a.current
        background: #333333

      li a
        +font-size(38)

        background: $darkred
        color: #fff
        float: left
        padding: 11px 0 8px
        text-align: center
        text-decoration: none
        width: 33.3%
        
        &:hover
          background: #333333

  @media screen and (max-width: 745px)
    .slides
      height: 450px
      
    a img.logo
      width: 150px
      height: auto
      
    .ok-form
      bottom: 210px

    .slides-pagination
      display: none

    .main-nav 
      ul li a
        display: block
        float: none
        padding: 20px 0 18px
        width: 100%