.header
  @extend .clearfix
  
  margin: -40px auto
  width: 960px

  ul
    float: right
    z-index: 9

    li 
      display: inline-block
      margin-left: 2px     

    &.social-nav
      margin: 0

      a
        margin-top: 5px

  h1 span
    @extend .visuallyhidden

  a
    color: #fff
    float: left
    text-decoration: none

    &:hover
      text-decoration: none

    img.logo
      margin-top: 15px

  .right-side
    float: right
    margin-top: 10px

    .ok-form
      margin-bottom: 63px

  nav.options-nav ul
    margin: 10px 15px

    li
      a
        border-radius: 10px
        display: block
        padding: 1px 20px

      &.season a
        background: $darkred

  .main-nav 
    h1
      @extend .visuallyhidden
    
    ul
      margin-right: 50px
      padding-left: 0
      position: relative

      li:hover>.sub-menu
        display: block

      ul.sub-menu
        @extend .clearfix

        border: 1px solid $lightgrey
        display: none
        position: absolute
        background: #333
        top: 16px
        left: 1px
        padding: 15px 0
        column-count: 3
        width: 600px

        &.top-ten
          left: 215px
          margin-right: 0
          width: 300px

        &.activity
          li
            margin-bottom: 25px
            
            ul>li
              margin-bottom: 0

        li
          float: left
          width: 30%
          margin-left: 0
          margin-bottom: 0
          display: block

          ul
            width: 100%
            margin: 0
            padding: 0
            float: left
            
            li
              width: 100%
              clear: both

        span, a
          background: none

          &:hover
            background: none

        span
          color: $darkred

        a
          color: white

          &:hover
            color: $darkred

      li

        a, span
          +font-size(18)

          background: #333333
          color: #fff
          display: block
          float: left
          padding: 5px 25px 5px
          text-decoration: none
          
          &:hover
            background: #A41923