// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins"
@import "active_admin/base"

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)
body.active_admin

  &.logged_out
    background: #333
    color: #fff
    text-shadow: none

    .active_admin_content
      background: #fff
      padding-bottom: 0

      h2
        color: #333
        background: none
        box-shadow: none
        text-shadow: none
        font-size: 20px

      label
        color: #333

    .flash_alert
      color: #fff
      text-shadow: none


  &.new .right-side .title_bar
    margin-top: 80px


  header.header
    background: #333
    border-bottom: 5px solid #a61922
    box-shadow: none
    padding: 30px 0
    position: relative

    h1.site_title
      display: none

    li#current_user
      background: url("/assets/back-end/logo-aventura.png") 0 0 no-repeat
      height: 122px
      width: 150px
      display: block
      position: absolute
      top: -25px
      left: 210px

      a
        display: none

  .footer
    background: #333
    box-shadow: none

  .nav_menu
    background: #333
    -moz-box-shadow: inset -4px 0 10px #000000
    -webkit-box-shadow: inset -4px 0 10px #000000
    box-shadow: inset -4px 0 10px #000000
    float: left

    ul
      padding: 0
      margin: 0

      li
        margin-bottom: 1px

        &.current a, a:hover
          background: #262626
          border-top: 1px solid #262626
          color: #a61922

    a
      border-top: 1px solid #616161
      border-bottom: 2px solid #000
      color: #EBEBEB
      display: block
      font-size: 15px
      padding: 10px 15px
      text-align: center
      text-decoration: none
      width: 150px

  .right-side
    background: #fff
    float: left
    padding: 20px
    width: 60%

    .edit_link, .delete_link, td.en_ligne span
      border-radius: 5px
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5)
      color: #fff
      font-size: 13px
      float: left
      margin: 0 10px
      padding: 5px 30px
      text-decoration: none

    td
      &.name
        width: 40%

      &.en_ligne span
        background: #918E8E
        width: 60px
        text-align: center

        &.online
          background: #333

    th.selectable, td.selectable
      display: none

    .edit_link
      background: #26AC26

      &:hover
        background: #25C525

    .delete_link
      background: #B41616

      &:hover
        background: #C91717

    .title_bar
      background: none
      border: none
      box-shadow: none
      padding: 0
      margin: 0

      h2 
        background: #333
        border-radius: 15px
        color: #a61922
        font-size: 20px
        font-weight: normal
        margin-left: -9px
        text-shadow: none
        padding: 10px 30px
        width: 95%

    .table_tools, .breadcrumb, .view_link
      display: none

    .action_items
      margin: 20px 0
      padding: 10px 0
      text-align: center

      a
        background: #a61922
        border-radius: 5px
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
        color: #fff
        font-size: 20px
        padding: 10px 40px
        text-decoration: none

        &:hover
          background: #C91717

  form 

    fieldset legend span
      background: #333
      color: #fff
      text-shadow: none
      border: none

    input[type="submit"]
      background: #26ac26
      border: none
      border-radius: 5px
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5)
      color: #fff
      font-size: 15px
      float: left
      margin: 0 10px
      padding: 10px 30px
      text-decoration: none
      text-shadow: none

      &:not(.disabled):hover
        background: #25C525
        border: none
        border-radius: 5px
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5)
        color: #fff
        font-size: 15px
        float: left
        margin: 0 10px
        padding: 10px 30px
        text-decoration: none
        text-shadow: none

  .language-tabs.ui-tabs
    margin-top: 15px

    fieldset
      margin-bottom: 0

  .language-tabs.ui-tabs .language-selection 
    margin-left: 5px

    li
      background: #ccc
      border-radius: 10px 10px 0 0
      display: inline-block
      padding: 5px 15px

      a
        color: #000
        text-decoration: none

      &.ui-state-active
        background: #000

        a
          color: #fff

  .language-tabs.ui-tabs .ui-tabs-panel
    padding-top: 0px

  li.hidden
    display: none
   
  .ui-widget-content
    border: none

  .ui-widget-header
    border: 0
    background: none

  .ui-tabs
    padding: 0

  .ui-tabs .ui-tabs-panel
    padding: 0
    padding-top: 20px

  .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
    -moz-border-radius-bottomleft: 0
    -webkit-border-bottom-left-radius: 0
    border-bottom-left-radius: 0

  .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
    -moz-border-radius-bottomright: 0
    -webkit-border-bottom-right-radius: 0
    border-bottom-right-radius: 0